<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SR5Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SR5Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SR5Builder.Properties.Settings>
            <setting name="pdfReaderPath" serializeAs="String">
                <value>C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe</value>
            </setting>
        </SR5Builder.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SR5Builder.Properties.Settings>
            <setting name="CoreBookPDF" serializeAs="String">
                <value>E:\Users\Jones\Dropbox\Dropbox\docs\Shadowrun 5th ed Core Rulebook\Shadowrun 5th ed. Core Rulebook.pdf</value>
            </setting>
            <setting name="CoreBookPageOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ErrorLogPath" serializeAs="String">
                <value>.\Logs\</value>
            </setting>
        </SR5Builder.Properties.Settings>
    </userSettings>
</configuration>
